<div class="row">
    <div class="col-sm-12">
        <h4>What's Included?</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <p>
            This starter kit includes a unit testing and end-to-end testing harness. This also includes configuration for bundling an Angular 2
            application using webpack. 
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ul class="list-unstyled">
            <li>
                <a class="btn btn-link" routerLink="/get-started/unit-tests">Unit Tests</a>
            </li>
            <li>
                <a class="btn btn-link" routerLink="/get-started/end-to-end">End-To-End Tests</a>
            </li>
            <li>
                <a class="btn btn-link" routerLink="/get-started/bundling">Bundling</a>
            </li>
        </ul>
    </div>
</div>