<h4>Start</h4>
<p>
    You can start the application using:
    <br /><br />

    <code>npm start</code>
    <br /><br />
</p>

<h5>What does npm start do?</h5>
<p>
    The start command will bundle your application and start the webpack dev server. This command uses the webpack.config.js configuration to
    start the dev server. The dev server will be located at http://localhost:8080. The advantage to using this is that webpack dev server will 
    not write your files to disk. The dev server will keep them in memory and serve them from memory. The dev server will also use webpack to 
    cache all the files in our bundle. This improves recompile times significantly.
</p>